body{font-family: 'Segoe UI Light';}
/*container class*/
.container{
  width: 1170px;
  height:inherit;
  overflow: hidden;
  margin: auto;
}
/*class of nav to make it fixed using [css-jQuery]*/
.fixed{
  position: fixed;
  z-index: 1;
  top:0;
  padding: 0px;
  height: auto;
  background-color: rgba(101, 196, 200,0.7);
}
/*first div in the page*/
.logo{overflow: hidden;padding: 10px;}
.logo .container .right{float: right;}
.logo .container .right span{margin: 0px 10px;}
.logo .container .right span p{display: inline-block;margin-left: 5px; }
.logo .container .right span i{color: rgb(101, 196, 200);}
/*start of nav*/
nav {
  overflow: hidden;
  height: 70px;
  width: 100%;
  background-color: rgb(101, 196, 200);
}
nav .container section{float:left;padding: 10px;}
nav .container section a{
  font-family: Segoe UI Light;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
nav .container span{
  float: right;
  padding-top: 25px;
}
nav .container span a{
  padding: 5px 10px ;
  text-decoration: none;
  color: white;
  font-family: Segoe UI Light;
}
nav .container span a:hover{
  color: #65c4c8;
  background-color: white;
}
/*end of nav*/
.privacy{text-align: center;margin-bottom: 20px;}
.privacy .container h1{color: #fe6b64;font-size: 50px;margin-bottom: 40px;}
.privacy .container h2:hover{color: #65c4c8;cursor: pointer;}
.privacy .container p{
  font-size: 20px;
  display: none;
  background-color: #fe6b64;  
  color: #fff;
  padding: 10px;
}
hr{margin-bottom: 0px;}




/*start of footer*/
footer {
  background-color:#65c4c8;
  position:static;
  bottom:0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  padding: 20px;
}
footer .container .map{float: left;width:auto;}
footer .container .map .mapimg{
  border: 3px solid white;
}
footer .container .map h3{font-family: Segoe UI Light;color: #FFF;}
footer .container .contact{float:right;width:45%;}
footer .container .contact h3{font-family: Segoe UI Light;color: #FFF;margin-bottom: 20px;}
footer .container .contact input,textarea,button{
  display: block;
  margin: 10px 0px 10px;
  padding: 10px;
  width: 400px;
  height: 50px;
  background: none;
  border:1px solid white;
  color: white;
  font-family:'Segoe UI Light';
}
::-webkit-input-placeholder{color: white;font-family: Segoe UI Light; }
footer .container .contact button{
  display: block;
  margin: 15px 0px 15px;
  padding: 10px;
  height: 50px;
  background: none;
  border:1px solid white;
  color: white;
  font-family: Segoe UI Light;
}
footer .container .contact button:hover{
  background: white;
  cursor:pointer;
  color:#65c4c8;
}
footer .container .contact .icons{color: #fff;}
footer .container .contact .icons .face:hover{color: #46609F;cursor: pointer;}
footer .container .contact .icons .twi:hover{color: #1DA1F2;cursor: pointer;}
footer .container .contact .icons .you:hover{color: #E32C28;cursor: pointer;}
footer .container .contact .icons .gog:hover{color: #DD4E40;cursor: pointer;}
footer .container .contact .icons .in:hover{color: #CB2026;cursor: pointer;}
footer .container .contact .icons .face{margin: 5px;}
footer .container .contact .icons .twi{margin: 5px;}
footer .container .contact .icons .you{margin: 5px;}
footer .container .contact .icons .in{margin: 5px;}
footer .container .contact .icons .gog{margin: 5px;}
/*end of footer*/

/*start of the last section*/
.last{overflow: hidden;background: #000;padding: 20px;color: #fff;}
.last .container .left{float: left;margin-top: 10px;}
.last .container .right{float: right;}
.last .container .right span{margin: 0px 10px;}
.last .container .right span p{display: inline-block;margin-left: 5px; }
.last .container .right span i{color: rgb(101, 196, 200);}

/*end of the last section*/
